
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager</h2>
<div class="row">
    <div class="col-md-6">Manage Activities</div>
    <div class="col-md-6">
        <a href="~/Admin/Activitie/Index">Detail</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">Manage Teachers</div>
    <div class="col-md-6">
        <a href="~/Admin/Teacher/Index">Detail</a>
    </div>
</div>
