@model AcSwE.Models.StudentTemp

@{
    ViewBag.Title = "Add_Std_withImport";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Add_Std_withImport</h2>

@using (Html.BeginForm("Add_Std_withImport", "Activitie", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h2>Excel Import</h2>   
        <div>

            <input name="file" type="file" required />

            <button type="submit">Import</button>

        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
